		<div class="page-data">
		 
        <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Administrador</th>
                    <th>Encuesta</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th width="120px">Acci&oacute;n</th>
                </tr>
                               
                <% if(data.length){ 
                 var d="";
				 var nd=data.length;	
                 for(var i=0;i<nd;i++) 
				 { d=data[i].id+"*"+data[i].nom+"*"+data[i].tit+"*"+data[i].fechainicio+"*"+data[i].fechafin+"*"+data[i].aid;
				 %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].nom%></td>
                    <td><%=data[i].tit%></td>
                    <td><%=data[i].fechainicio%></td>
                    <td><%=data[i].fechafin%></td>
                    <td>
                        <a class="a-inside edit" href="#" onClick="mostrarDatos('<%=d%>')">E</a>
                       
                        <a class="a-inside delete" href="../encuesta/delete/<%=data[i].id%>">X</a>
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No hay encuestas...</td>
                 </tr>
            <% } %>
            </table>
         </div>
        </div>