		<div class="page-data">
		 
        <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Ciudad</th>
                    <th>Categoria</th>
                    <th width="120px">Acci&oacute;n</th>
                </tr>
                <% if(data.length){
                 var d="";
                 var dnis;
				 var nd=data.length;
                 for(var i=0;i<nd;i++)
				 { d=data[i].id+"*"+data[i].dni+"*"+data[i].apellidos+"*"+data[i].nombres+"*"+data[i].fechanac+"*"+data[i].email+"*"+data[i].ciudad_id+"*"+data[i].categoria_id;
                    dnis = data[i].dni;
				 %>
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].apellidos%></td>
                    <td><%=data[i].nombres%></td>
                    <td><%=data[i].ciudad%></td>
                    <td><%=data[i].categoria%></td>
                    <td>
                        <a class="a-inside edit" href="#" onClick="mostrarDatos('<%=d%>')">E</a>
                        <a class="a-inside delete" href="../cliente/delete/<%=data[i].id%>">X</a>
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No hay encuestas...</td>
                 </tr>
            <% } %>
            </table>

            <a class="a-inside edit" href="" onClick="llevarDNI('<%=dnis%>')">go</a>
         </div>
        </div>